.circle {
   width: 100px;
   height: 100px;
   background: green;
   border-radius: 50%;
   padding: 20px;
   text-align: center;
}

.square {
  width: 100px;
  height: 100px;
  background: red;
  padding: 20px;
  text-align: center;
}

.rectangle {
  width: 200px;
  height: 100px;
  background: blue;
  padding: 20px;
  text-align: center;
}